/* Admin.css */

.admin-container {
  max-width: 1300px; /* Set max-width to 1200px */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Add a light background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.form-container {
  max-width: 600px; /* Set max-width of form container to 600px */
  margin: 0 auto; /* Center the form container */
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Add a text color */
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #333; /* Add a text color */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Move the table on top */
  color: #333; /* Add a text color */
  overflow-x: auto; /* Add horizontal scrolling */
}

th, td {
  padding: 12px 20px !important; /* Use !important to override any inline styles */
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 16px; /* Reduce font size in the table */
  color: #333; /* Add a text color */
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333; /* Add a text color */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333; /* Add a text color */
}

input[type="text"], input[type="number"], 
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333; /* Add a text color */
}

.input-text,
.input-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

.input-textarea {
  resize: vertical; /* Allow vertical resizing */
  min-height: 100px; /* Set a minimum height */
}


select {
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23333'%3E%3Cpath d='M10 12l-6-6-1.414 1.414L10 14.828l7.414-7.414L16 6z'/%3E%3C/svg%3E");
  background-position: right 10px center;
  background-repeat: no-repeat;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-container button {
  margin-right: 10px;
  cursor: pointer;
}

.update-button {
  background-color: #377b63; /* Dark Green */
  color: #fff; /* White */
  border: none;
  border-radius: 5px;
  padding: 10px 15px; /* Slightly smaller padding */
  font-size: 14px; /* Slightly smaller font size */
}

.delete-button {
  background-color: #da3646; /* Dark Red */
  color: #fff; /* White */
  border: none;
  border-radius: 5px;
  padding: 10px 15px; /* Slightly smaller padding */
  font-size: 14px; /* Slightly smaller font size */
}


.save-button {
  background-color: #007bff;
  color: #fff;
  border: none; 
  border-radius: 5px; 
  padding: 12px 20px;
  font-size: 16px; 
  cursor: pointer; 
}

.button-container button:hover {
  opacity: 0.8; /* Reduce opacity on hover */
}
